* {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-size: 18px;
}

body header .header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

body header .header_main .logo {
  width: 50px;
  margin: 0;
}

body header .header_main .navigation {
  width: 85%;
}

body header .header_main .navigation .top_nav {
  display: none;
}

body header .header_main .navigation .navBar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .header_main .navigation .navBar_container .logo_text {
  font-size: 0.8em;
  width: 40%;
  padding: 0.5em;
  font-weight: 600;
  text-transform: capitalize;
}

body header .header_main .navigation .navBar_container .logo_text .blue {
  color: #0180C7;
}

body header .header_main .navigation .navBar_container .navBar_donateButton {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header_main .navigation .navBar_container .navBar_donateButton button {
  border: none;
  background-color: #C4000E;
  -webkit-box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-right: 20px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

body header .header_main .navigation .navBar_container .navBar_donateButton .fa-bars {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px 20px;
  width: 60px;
  font-size: 30px;
  color: #0180C7;
}

body header .header_main .nav_wrapper {
  display: none;
  width: 100%;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 200;
}

body header .header_main .nav_wrapper ul {
  margin: 0;
  padding: 2em 0;
  background-color: #18307F;
  color: #fff;
  z-index: 200;
  overflow-y: scroll;
}

body header .header_main .nav_wrapper ul li {
  text-transform: uppercase;
  border-bottom: 1px solid;
  font-weight: 600;
  font-size: 0.8em;
  background-color: #13245D;
}

body header .header_main .nav_wrapper ul li .nav_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
}

body header .header_main .nav_wrapper ul li .nav_content a {
  color: white;
  display: block;
  width: 90%;
  padding: 1em 0;
}

body header .header_main .nav_wrapper ul li .nav_content i {
  color: #007DC6;
  padding: 1em 0;
}

body header .header_main .nav_wrapper ul li .nav_content i:hover ul li .nav_content_contents {
  display: block;
}

body header .header_main .nav_wrapper ul li ul {
  display: none;
}

body header .header_main .nav_wrapper ul li ul li {
  text-transform: uppercase;
  padding: 1em 0.5em;
  border-bottom: 0px;
  font-weight: 600;
  font-size: 0.7em;
}

body header .header_main .nav_wrapper ul li ul li a {
  color: white;
}

body header .header_img_display {
  position: relative;
}

body header .header_img_display .img_container .img_trackers {
  width: 100px;
  position: absolute;
  text-align: center;
  z-index: 100;
  bottom: 15px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

body header .header_img_display .img_container .img_trackers .tracker {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0em 5px;
  border-radius: 100px;
  margin: 2px;
  border: 2px solid #fff;
}

@media (min-width: 1050px) {
  body .addcolor {
    background-color: #18307F;
  }
  body header .header_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .header_main .logo {
    width: 15%;
  }
  body header .header_main .navigation {
    width: 85%;
  }
  body header .header_main .navigation .top_nav {
    display: none;
  }
  body header .header_main .navigation .navBar_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body header .header_main .navigation .navBar_container .logo_text {
    font-size: 1em;
    width: 40%;
    padding: 0.5em;
    font-weight: 600;
    text-transform: capitalize;
  }
  body header .header_main .navigation .navBar_container .logo_text .blue {
    color: #0180C7;
  }
  body header .header_main .navigation .navBar_container .navBar_donateButton {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .header_main .navigation .navBar_container .navBar_donateButton button {
    border: none;
    background-color: #C4000E;
    -webkit-box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }
  body header .header_main .navigation .navBar_container .navBar_donateButton .fa-bars {
    padding: 25px 20px;
    width: 60px;
    font-size: 30px;
    color: #0180C7;
  }
  body header .header_main .nav_wrapper {
    display: none;
    width: 100%;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 200;
  }
  body header .header_main .nav_wrapper ul {
    margin: 0;
    padding: 1em;
    background-color: #18307F;
    color: #fff;
    z-index: 200;
  }
  body header .header_main .nav_wrapper ul li {
    text-transform: uppercase;
    padding: 1em 0.5em;
    border-bottom: 1px solid;
    font-weight: 600;
    font-size: 0.8em;
  }
  body header .header_main .nav_wrapper ul li .nav_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .header_main .nav_wrapper ul li .nav_content a {
    color: white;
  }
  body header .header_main .nav_wrapper ul li .nav_content i {
    color: #007DC6;
  }
  body header .header_main .nav_wrapper ul li ul {
    display: none;
  }
  body header .header_img_display {
    position: relative;
  }
  body header .header_img_display .img_container .img_trackers {
    width: 100px;
    position: absolute;
    text-align: center;
    z-index: 100;
    bottom: 15px;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  body header .header_img_display .img_container .img_trackers .tracker {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0em 5px;
    border-radius: 100px;
    margin: 2px;
    border: 2px solid #fff;
  }
}

body .section1 {
  background-color: #F2F2F2;
  padding: 2em 1em;
}

body .section1 .section1_header {
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0;
}

body .section1 .section1_header .fa-comment-alt {
  background-color: #007FC3;
  color: #fff;
  padding: 8px;
  border-radius: 50px;
}

body .section1 .section1_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

body .section1 .section1_cards .card {
  grid-column: span 12;
  background-color: #fff;
  margin-bottom: 1em;
}

body .section1 .section1_cards .card .card_text {
  padding: 1em;
  font-size: 1.4em;
  font-weight: 600;
  position: relative;
}

body .section1 .section1_cards .card .card_text .latest_news {
  background-color: #898989;
  position: absolute;
  font-size: 0.8em;
  top: -25px;
  padding: 0.3em;
  color: #fff;
}

body .section1 .section1_cards .card .card_time {
  padding: 1em;
  border-top: 1px solid #E3E3E3;
  color: #898989;
}

body .section1 .section1_button {
  text-align: center;
}

body .section1 .section1_button button {
  background-color: #18307F;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1em;
  -webkit-box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
}

body .section1 .section1_button button .angle_right {
  font-size: 25px;
  color: #fff;
}

body .section2 {
  background-color: #F7F7F7;
  padding: 2em 0;
}

body .section2 .section2_header {
  text-align: center;
  font-size: 1.3em;
  padding: 1em 0;
  font-weight: 700;
}

body .section2 .section2_header .fa-exclamation-circle {
  background-color: #007FC3;
  color: #fff;
  padding: 8px;
  border-radius: 50px;
}

body .section2 .section2_cards {
  position: relative;
}

body .section2 .section2_cards .section2_cards_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

body .section2 .section2_cards .controls {
  position: absolute;
  top: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section2 .section2_cards .controls span {
  font-size: 40px;
  padding: 10px 25px;
  font-weight: 300;
  background-color: #fff;
  color: #0A347D;
}

body .section2 .section2_cards .card {
  display: none;
}

body .section2 .section2_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 0;
}

body .section2 .section2_button button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  -webkit-box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
}

body .section2 .section2_button button .angle_right {
  font-size: 25px;
  color: #fff;
}

body .section2 .section2_button button:nth-child(1) {
  background-color: #C4000E;
}

body .section2 .section2_button button:nth-child(2) {
  background-color: #18307F;
}

body .section3 .section3_header {
  text-align: center;
  font-size: 1.3em;
  margin: 1em 0;
  font-weight: 700;
}

body .section3 .section3_header .fas {
  background-color: #007FC3;
  color: #fff;
  padding: 8px;
  border-radius: 50px;
}

body .section3 .section3_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 15px #E6E6E6;
          box-shadow: 10px 10px 15px #E6E6E6;
}

body .section3 .section3_boxes .section3_boxes_text {
  padding: 2em;
}

body .section3 .section3_boxes .section3_boxes_text h2 {
  border-bottom: 1px solid #000;
  padding: 0.5em 0;
  margin: 0.5em 0;
}

body .section3 .section3_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

body .section3 .section3_cards .card {
  margin: 1em 0;
  position: relative;
  -webkit-box-shadow: 10px 10px 15px #E6E6E6;
          box-shadow: 10px 10px 15px #E6E6E6;
}

body .section3 .section3_cards .card .card_text {
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 30px;
  padding: 1em;
}

body .section4 {
  background-image: url("../asset/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

body .section4 .card_text {
  padding: 15em 2em 4em;
  color: #fff;
  text-align: center;
}

body .section4 .card_text h1 {
  font-weight: 900;
}

body .section4 .card_text button {
  color: #fff;
  border: none;
  padding: 15px 25px;
  border-radius: 3px;
  margin: 1em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7em;
  -webkit-box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #C4000E;
}

body .section5 .section5_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0;
}

body .section5 .section5_header .line {
  width: 15%;
  height: 1px;
  background: #000;
}

body .section5 .section5_cards {
  width: 80%;
  margin: 0 auto;
}

body .section5 .section5_cards .card {
  text-align: center;
  margin: 2em 0;
}

body .section5 .section5_cards .card img {
  width: 50%;
}

body .section5 .section5_cards .card h2 {
  font-weight: 600;
  margin: 1em 0;
}

body .section5 .section5_cards .card h2 span {
  font-weight: 800;
}

body .section5 .section5_cards .card button {
  background-color: #E7E7E7;
  padding: 5px 8px;
  margin: 1em;
  border: none;
  font-weight: 500;
}

body .section6 {
  background-color: #F2F2F2;
  padding: 2em 0;
}

body .section6 .section6_header {
  text-align: center;
  font-size: 1.3em;
  padding: 1em 0;
  font-weight: 700;
}

body .section6 .section6_header .fas {
  background-color: #007FC3;
  color: #fff;
  padding: 8px;
  border-radius: 50px;
}

body .section6 .section6_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

body .section6 .section6_cards .card {
  grid-column: span 12;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  margin: 0.3em 0;
  height: 200px;
  color: #fff;
  font-size: 1.2em;
}

body .section6 .section6_cards .card .card_text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .section6 .section6_cards .card .card_text a {
  color: #fff;
}

body .section6 .section6_cards .card:nth-child(1) {
  background-image: url("../asset/10.jpg");
}

body .section6 .section6_cards .card:nth-child(2) {
  background-image: url("../asset/11.jpg");
}

body .section6 .section6_cards .card:nth-child(3) {
  background-image: url("../asset/12.jpg");
}

body .section7 .section7_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0;
}

body .section7 .section7_header .line {
  width: 10%;
  height: 1px;
  background: #000;
}

body .section7 .section7_cards {
  position: relative;
}

body .section7 .section7_cards .controls {
  position: absolute;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body .section7 .section7_cards .controls .fas {
  font-size: 45px;
  padding: 5px;
}

body .section7 .section7_cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

body .section8 {
  background-color: #18307F;
  color: #9AA7C7;
  font-size: 0.8em;
}

body .section8 .section8_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  padding: 1em;
}

body .section8 .section8_cards .card {
  margin: 0.5em;
}

body .section8 .section8_cards .card h3 {
  color: #007DC6;
  margin: 0.3em 0;
}

body .section8 .section8_cards .logo {
  display: none;
}

body .section8 .section8_cards .contact {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 1;
  grid-row: 1;
}

body .section8 .section8_cards .contact ul {
  padding: 0.5em 0;
}

body .section8 .section8_cards .contact ul li {
  color: #fff;
}

body .section8 .section8_cards .contact ul li i {
  font-size: 15px;
  margin-right: 0.4em;
  color: #007DC6;
}

body .section8 .section8_cards .address {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  -ms-grid-row: 1;
  grid-row: 1;
}

body .section8 .section8_cards .follow_us {
  grid-column: span 12;
  -ms-grid-row: 2;
  grid-row: 2;
}

body .section8 .section8_cards .follow_us i {
  font-size: 25px;
  margin: 0.5em;
}

body .section9 {
  background-color: #13245D;
  color: #007DBF;
  padding: 1em;
}

body .section9 .section9_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .section9 .section9_cards .card .card_head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section9 .section9_cards .card .card_head h3 {
  padding: 0.5em;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0.5em 0;
}

body .section9 .section9_cards .card ul {
  display: none;
}

body .section9 .section9_cards .section9_bottom {
  margin: 2em 0;
}

body .section9 .section9_cards .section9_bottom p {
  border-bottom: 1px solid;
  padding: 0.5em;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0.5em 0;
}

@media (min-width: 700px) {
  body .section1 .section1_cards {
    gap: 10px;
  }
  body .section1 .section1_cards .card:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  body .section1 .section1_cards .card:nth-child(2) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  body .section1 .section1_cards .card:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  body .section3 .section3_cards .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .section6 .section6_cards {
    gap: 10px;
  }
  body .section6 .section6_cards .card:nth-child(1) {
    background-image: url("../asset/11.jpg");
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    height: 420px;
  }
  body .section6 .section6_cards .card:nth-child(2) {
    background-image: url("../asset/10.jpg");
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .section6 .section6_cards .card:nth-child(3) {
    background-image: url("../asset/12.jpg");
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

body footer {
  padding: 2em;
  background-color: #F2F2F2;
  font-size: 0.7em;
}
/*# sourceMappingURL=style.css.map */