* {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-size: 16px;
}

body header .header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header_main .logo {
  width: 15%;
}

body header .header_main .navigation {
  width: 85%;
}

body header .header_main .navigation .top_nav {
  display: none;
}

body header .header_main .navigation .navBar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .header_main .navigation .navBar_container .logo_text {
  font-size: 1em;
  width: 40%;
  padding: 0.5em;
  font-weight: 600;
  text-transform: capitalize;
}

body header .header_main .navigation .navBar_container .logo_text .blue {
  color: #0180C7;
}

body header .header_main .navigation .navBar_container .navBar_donateButton {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header_main .navigation .navBar_container .navBar_donateButton nav {
  display: none;
}

body header .header_main .navigation .navBar_container .navBar_donateButton button {
  border: none;
  background-color: #C4000E;
  -webkit-box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

body header .header_main .navigation .navBar_container .navBar_donateButton .fa-bars {
  width: 40px;
  background-color: #0180C7;
  color: #0180C7;
  height: 30px;
}

body header .header_img_display {
  position: relative;
}

body header .header_img_display .img_container .img_trackers {
  width: 100px;
  position: absolute;
  text-align: center;
  z-index: 100;
  bottom: 15px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

body header .header_img_display .img_container .img_trackers .tracker {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0em 5px;
  border-radius: 100px;
  margin: 2px;
  border: 2px solid #fff;
}

body .section1 {
  background-color: #F2F2F2;
  padding: 2em 1em;
}

body .section1 .section1_header {
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0;
}

body .section1 .section1_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

body .section1 .section1_cards .card {
  grid-column: span 12;
  background-color: #fff;
  margin-bottom: 1em;
}

body .section1 .section1_cards .card .card_text {
  padding: 1em;
  font-size: 1.4em;
  font-weight: 600;
}

body .section1 .section1_cards .card .card_time {
  padding: 1em;
  border-top: 1px solid #E3E3E3;
}
/*# sourceMappingURL=style.css.map */